body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #cc3367;
  font-family: Arial, sans-serif;
}

video {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 82%;
  border: 1px solid #853535;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  object-fit: contain;
}

@media (max-width: 600px) {
  video {
    top: 43%;
    width: 90%;
    height: 80%;
  }
}

.control {
  position: absolute;
  bottom: 3%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button,
input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  color: #cc3367;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover,
input:hover {
  background-color: #cc3367;
  color: #fff;
}

input[type='number'] {
  width: 60px;
  text-align: center;
}
