<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Local Video Service - Player</title>
    <link rel="stylesheet" href="static/css/player.css" />
    <link rel="stylesheet" href="static/css/all.min.css" />
    <script src="static/js/player.js" defer></script>
    <script src="static/js/jquery.min.js"></script>
  </head>
  <body>
    <div class="container">
      <video id="player" autoplay controls muted>
        您的浏览器不支持播放，请更换浏览器试试
      </video>
      <div class="control">
        <button id="prev"><i class="fas fa-backward"></i></button>
        <button id="next"><i class="fas fa-forward"></i></button>
      </div>
    </div>
  </body>
</html>
